<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
    <form action='/login' method='POST'>
        <h2>Login:</h2>
        Email Address: <input type = "text" name="email" value="email">
        Password: <input type="text" name="password" value="password">
        <input type="submit" value="Submit"> 
    </form>
    <form action='/register' method='POST'>
        <h2>Register:</h2>
        First Name: <input type="text" name="first" value="first">
        Last Name: <input type="text" name="last" value="last">
        Email Address: <input type = "text" name="email" value="email">
        Password: <input type="password" name="password" value="password">
        Confirm Password: <input type="password" name="confirm" value="confirm">
        <input type="submit" value="Submit"> 
    </form>
</body>

