<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>    
    <h1> Successfully</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <h1>{{message}}</h1>
      {% endfor %}
    {% endif %}
  {% endwith %}
    Welcome {{user[0]['first_name']}} {{user[0]['last_name']}}

</body>